body {
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: unset;
}

iframe {
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: unset;
}

::-webkit-scrollbar {
  display: none;
}

mark {
  background-color: #43B88477;
}

body::selection {
  background-color: #43B884bb;
}

body {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
  /* font-family: "仿宋" !important; */
}

@media print {
  footer {
    display: none;
  }

  header {
    display: none;
  }

  .VPLocalNav {
    display: none !important;
  }

  h1 {
    break-before: page !important;
    page-break-before: always !important;
  }

  .saparation {
    break-before: page !important;
    page-break-before: always !important;
  }

  iframe {
    display: none;
  }

  body {
    /* font-family: "仿宋" !important; */
    zoom: 80%;
  }
}
